// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

*,
*::after,
*::before {
  box-sizing: inherit; //we make it inherit from html
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box; //it was already explained in the previous project why we write in this way
  font-size: 62.5%; //1rem = 10px --> 10px/16px = 62.5%
}

body {
  font-family: $font-primary;
  color: var(--color-grey-dartk-2);

  font-weight: 300;
  line-height: 1.6;
}
