.features {
  background-color: $color-grey-light-2;
  grid-column: center-start/ center-end;

  //here is the case where a grid element become a grid container (nesting of grids)
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
