.footer {
  background-color: $color-secondary;
  grid-column: full-start / full-end;
}

.nav {
  list-style: none;
  display: grid; //in this case flexbox would have been a good choice to layout the elements but we will still use grids because it is a great option to have some space between the elements (in flex box we would need to use margin right and in the last element we would need to say no margin)
  grid-gap: 2rem;

  grid-template-columns: repeat(
    auto-fit,
    minmax(20rem, 1fr)
  ); //we want it to be automatically responsive without using the media queries. in this way as soon as one of the elements will be reduced to 20rem than automatically the grid will add a row
  align-items: center;

  &__link:link,
  &__link:visited {
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
    font-family: $font-primary;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    display: block;
    transition: all 0.2s;
  }

  &__link:hover,
  &__link:active {
    background-color: rgba(#fff, 0.05);
    transform: translateY(-3px);
  }
}

.copyright {
  font-size: 1.4rem;
  color: $color-grey-light-2;
  margin-top: 6rem;
  text-align: center;
}
