.gallery {
  background-color: $color-grey-light-1;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(
    7,
    5vw
  ); //we set 5vw which 5% of the viewport width, and this is way since to set a flexible value that will change when the viewport change it's width

  grid-gap: 1.5rem;
  padding: 1.5rem;

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover; //this property won't allow the image to cover more that the dedicated space in the grid container, but it will only work if we set the width and the height
    display: block;

    &--img1 {
      grid-row: 1 / span 2;
      grid-column: 1 / span 2;
    }
  }
}
