.header {
  background-color: $color-grey-dark-1;
  grid-column: full-start / col-end 6; //in this case if we don't have a name I can use col-end and the last column number considering column 0 is the first occupied by the item

  background-image: linear-gradient(
      rgba($color-secondary, 0.93),
      rgba($color-secondary, 0.93)
    ),
    url(../assets/img/hero.jpeg);

  background-size: cover;
  background-position: center;
  padding: 8rem;
  padding-top: 4rem;

  display: grid;
  grid-row-gap: 1.5rem;

  //grid-template-rows: 1fr min-content 6rem 1fr; //if we don't define like that all the space (Across the Y axes) will be divided equally, instead in this way we have the first row to occupy all the available space and the others the space specified
  grid-template-rows: 1fr min-content minmax(min-content, 6rem) 1fr;
  //the above one has been changed so that it will scale properly, in this way we say the row (before defined to 6rem) shall never be more taller than the content

  //grid-template-columns: max-content; //in this way we will have only 1 column which occupy only the max content of the largest item
  grid-template-columns: minmax(
    min-content,
    max-content
  ); //the above one has been changed so that it will scale properly, in this way we say the column shall never be more narrow than the content

  @media only screen and (max-width: $bp-medium) {
    grid-column: 1 / -1;
  }

  @media only screen and (max-width: $bp-small) {
    padding: 5rem;
  }

  justify-content: center; //so all the conent is now centered

  &__logo {
    height: 3rem;
    justify-self: center;
  }

  &__btn {
    align-self: start;
    justify-self: start;
  }

  &__seenon-text {
    display: grid; //even though there are no elements inside this block actually the text that we wrote is an element itself, and before and after as well therefore there will be in total 3 elements inside this block
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.5rem;
    align-items: center;

    font-size: 1.6rem;
    color: $color-grey-light-2;

    &::before,
    &::after {
      content: "";
      height: 1px;
      display: block;
      background-color: currentColor;
    }
  }

  &__seenon-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 3rem;
    justify-items: center;
    img {
      max-height: 2.5rem; //we change it to max height in order to solve the problem with smaller screens, but we need to specify also the max-widht otherwise it will not scale properly
      max-width: 100%;
      filter: brightness(70%);
    }
  }
}
