.realtors {
  background-color: $color-secondary;
  grid-column: col-start 7 / full-end;
  padding: 3rem;

  display: grid;
  align-content: center;
  justify-content: center; //just like this we center all the content inside the realtors grid
  grid-row-gap: 2rem;

  &__list {
    display: grid;
    grid-template-columns: min-content max-content;
    grid-column-gap: 2rem;

    grid-row-gap: 5vh; //why in this way? because we want this spacing to change whenever we change the height of the viewport

    align-items: center;
  }

  &__img {
    width: 7rem; //why this time we fixed the width in this way ?
    border-radius: 50%;
    display: block;
  }

  &__sold {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: $color-grey-light-2;
    margin-top: -3px;
  }
}
