.story {
  &__pictures {
    background-color: $color-primary;
    grid-column: full-start / col-end 4;
  }

  &__content {
    background-color: $color-grey-light-1;
    grid-column: col-start 5 / full-end;

    padding: 6rem 8vw;

    /*
    display: flex; //in this case we use flex box instead of grids because the childs of this element are organized in 1 dimension layout
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; //we have to assign it by our own as the standard assignment is "stretch" so we would see the bottom stretching all the way.
    */

    //here below we can actually see how we can achieve above effect (done with flexbox) by using grids
    //it is actually shorter but it is a bit counter intuitive as it is only 1 dimension layout
    display: grid;
    align-content: center;
    justify-items: start;
  }

  &__text {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 4rem; //in here we don't use the helper class ".mb" because it is not a reusable element
  }
}
